<%= provide(:title, 'About') %>
<div class="jumbotron">
  <div class="center container">
    <h1>About Us</h1>
    <p>This project contains an implementation of the well-known John Conway's Game of Life</p>
  </div>
</div>
