<% provide(:title, 'Help')%>
<div class="jumbotron">
  <div class="center container">
    <h1>The Game of Life</h1>
    <p>
The Game of Life is a cellular automaton devised by the British mathematician John Horton Conway in 1970.
    </p>
  </div>
</div>
<a href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">For more information</a>
